/*! bulmaswatch v0.6.2 | MIT License */
@import '~bulmaswatch/flatly/_variables.scss';
$olive-green: #679d71;
$green: hsl(145, 69, 21);
$light-green: hsl(145, 30, 51);

$dark-green: #19261b;
$yellow: #fec63e;
$blue: #34495e;
$pink: #4d3232;
$purple: #270d1f;

$primary: $green;
$link: $olive-green;
$info: $olive-green;

@import '~bulma';
@import '~bulmaswatch/flatly/_overrides';
@import '~bulma-steps';
@import '~bulma-calendar';

@import './custom';
@import './footer';
@import './steps';
