.is-bg-white-ter {
  background-color: $white-ter;
}
.bg-dark-green {
  background-color: $dark-green;
}
.body-bg {
  background-color: $white-ter;
}
.hero .navbar .navbar-item {
  text-shadow: 2px 1px 5px $primary;
  color: $white !important;
}
.hero .navbar,
.hero .navbar .navbar-menu {
  background: transparent;
}
.hero .navbar-item {
  text-align: right;
}
.navbar {
  border-radius: 0;
}
.navbar .title {
  color: $white;
}
.navbar-burger {
  color: $white;
}
.field .button {
  margin-right: 0.7em;
}
.react-datepicker-popper {
  // this is required to not get the <select> arrow overlapping the datepicker
  z-index: 5 !important;
}
